<div class="tw:flexcentercol tw:px-4 tw:py-12">
  <div class="tw:h5 tw:py-3">CHV - Themis</div>
  <div class="tw:max-w-md">
    <p class="tw:text-center tw:body-3">
      "Hung Vuong Highschool for the Gifted, Binh Duong" Themis Web Interface Application
    </p>
    <div class="tw:flexcentercol tw:gap-4 tw:px-4 tw:py-8">
      <p class="tw:body-2">Tech Stack</p>
      <img
        src="https://skill-icons-livid.vercel.app/icons?i=js,tailwind,express,sqlite&gap=60"
        height="36"
        class="tw:max-lg:scale-95 tw:max-sm:scale-75"
      />
    </div>
    <p class="tw:text-gray-700 tw:text-center">
      Created by
      <a href="https://github.com/yuran1811" target="_blank" rel="noopener" class="link-hl">yuran1811</a>
    </p>
  </div>
  <div class="tw:mt-8 tw:flexcenter tw:max-xs:flex-col tw:gap-8 tw:text-gray-500">
    <div class="tw:flexcentercol">
      <p class="">More infomation</p>
      <ul class="tw:flexcenter tw:gap-4">
        <li class="">
          <a class="text-muted" href="https://github.com/yuran1811/chv-themis" target="_blank" rel="noopener">
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li class="">
          <a class="text-muted" href="https://www.facebook.com/chvbinhduong" target="_blank" rel="noopener">
            <i class="bi bi-facebook"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="tw:flexcentercol">
      <p class="">Contact me via</p>
      <ul class="tw:flexcenter tw:gap-4">
        <li>
          <a class="text-muted" href="https://www.facebook.com/YuranLegends" target="_blank" rel="noopener">
            <i class="bi bi-facebook"></i>
          </a>
        </li>
        <li>
          <a class="text-muted" href="https://github.com/yuran1811" target="_blank" rel="noopener">
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li>
          <a
            class="text-muted"
            href="https://www.linkedin.com/in/yuran-legends-6252b6222/"
            target="_blank"
            rel="noopener"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
