<section class="tw:flex tw:items-center tw:h-full tw:p-10 tw:text-gray-700">
  <div class="tw:container tw:flex tw:flex-col tw:items-center tw:justify-center tw:px-5 tw:mx-auto tw:my-8">
    <div class="tw:max-w-md tw:text-center">
      <h2 class="tw:mb-8 tw:font-extrabold tw:text-9xl"><span class="tw:sr-only">Error</span>404</h2>
      <p class="tw:text-2xl tw:font-semibold tw:md:text-3xl">Sorry, we couldn't find this page.</p>
      <p class="tw:text-gray-500">[Error message: <%= error %>]</p>
      <p class="tw:mt-4 tw:mb-8">But dont worry, you can find plenty of other things on our homepage.</p>
      <a rel="noopener noreferrer" href="/" class="tw:px-8 tw:py-3 tw:font-semibold tw:rounded">Back to homepage</a>
    </div>
  </div>
</section>
