<% if (isAuth) { %>
<%- include('../partials/logs') -%>
<% } else { %>
<div class="tw:container tw:mx-auto tw:px-4 tw:py-8 tw:text-center">
  <p class="tw:body-1">Sign in to see the submissions log.</p>
</div>
<% } %>
