<% if (problems.length == 0) { %>
<%- include('../partials/no-data') -%>
<% } else { %>
<div class="tw:p-4">
  <ul
    class="tw:mx-auto tw:container tw:grid tw:grid-cols-4 tw:grid-flow-row-dense tw:max-md:grid-cols-3 tw:max-xs:grid-cols-2 tw:max-ss:grid-cols-1"
  >
    <% problems.forEach(function(problem) { const icons = { cmd: 'windows', md: 'markdown', pdf: 'file-pdf', doc:
    'file-earmark-word', docx: 'file-earmark-word', ppt: 'file-earmark-ppt', pptx: 'file-earmark-ppt', xls:
    'file-earmark-excel', xlsx: 'file-earmark-excel', txt: 'file-text', zip: 'file-earmark-zip', rar:
    'file-earmark-zip', } %>
    <li class="tw:hover:font-semibold tw:line-clamp-1 tw:text-ellipsis tw:w-full tw:h-8">
      <% if (!problem.filetype.length) { %>
      <i class="bi bi-file-earmark"></i>
      <% } else { %>
      <i class="bi bi-<%= icons[problem.filetype] || `filetype-${problem.filetype}` %>"></i>
      <% } %>
      <a href="<%= problem.link %>" target="_blank" rel="noopener" class=""> <%= problem.name %> </a>
    </li>
    <% }
); %>
  </ul>
</div>
<% } %>
