<!doctype html>
<html lang="en">
  <%- include('./partials/meta/head') %>
  <body>
    <div id="app">
      <%- include('./partials/header') %>
      <main>
        <div class="tw-p-12 tw-flex tw-flex-col tw-gap-3">
          <p class="tw-text-center tw-font-bold">Page not found</p>
          <p class="tw-text-center tw-font-bold">Please check the link</p>
        </div>
      </main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
