<!-- https://getbootstrap.com/docs/5.1/examples/ -->

<!doctype html>
<html lang="en">
  <%- include('./partials/meta/head') %>
  <body>
    <div id="app">
      <%- include('./partials/header') %>
      <main></main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
