<!doctype html>
<html lang="en">
  <%- include('./partials/meta/head') %>
  <body>
    <div id="app">
      <%- include('./partials/header') %>
      <main>
        <%- include('./partials/table') %>
      </main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
