<!doctype html>
<html lang="en">
  <%- include('./partials/meta/head') %>
  <body>
    <div id="app">
      <%- include('./partials/header') %>
      <main>
        <% if (isAuth == "1") { %>
        <%- include('./partials/code-area')
				%>
        <% } %>
      </main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
