<div class="tw-sticky tw-bottom-0 tw-left-0 tw-right-0">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
    <p>
      &copy;
      <%= year %>
      Hung Vuong Highschool, Binh Duong. All rights reserved.
    </p>
  </footer>
</div>
