<div class="container">
	<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top" >
		<p> &copy; <%= year %> Hung Vuong Highschool, Binh Duong. All rights reserved. </p>
	</footer>
</div>
