<div class="container">
	<footer
		class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
	>
		<p>
			&copy; <%= year %> Hung Vuong Highschool, Binh Duong. All rights
			reserved.
		</p>

		<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<li class="ms-3">
				<a
					class="text-muted"
					href="https://github.com/yuran1811/chv-themis"
					target="_blank"
					rel="noopener"
				>
					<i class="bi bi-github"></i>
				</a>
			</li>
			<li class="ms-3">
				<a
					class="text-muted"
					href="https://www.facebook.com/chvbinhduong"
					target="_blank"
					rel="noopener"
				>
					<i class="bi bi-facebook"></i>
				</a>
			</li>
		</ul>
	</footer>
</div>
