<div class="container sticky bottom-0 left-0 right-0">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
    <p>&copy; <%= year %> Hung Vuong Highschool, Binh Duong. All rights reserved.</p>
  </footer>
</div>
