<div class="container form-signin">
	<form action="/users/auth" method="POST">
		<div class="form-floating">
			<input name="name" type="text" class="form-control" id="floatingInput" placeholder="Username"/>
			<label for="floatingInput">Username</label>
		</div>
		<div class="form-floating">
			<input name="pass" type="password" class="form-control" id="floatingPassword" placeholder="Password"/>
			<label for="floatingPassword">Password</label>
		</div>
		<button class="w-100 btn btn-lg btn-primary" type="submit"> Sign in </button>
	</form>
</div>
