<div class="tw:container tw:flexcenter tw:mx-auto tw:px-4 tw:py-8 tw:bg-s1">
  <button class="tw:g-5 tw:group tw:relative tw:!rounded-2xl tw:p-0.5 tw:shadow-500">
    <span
      class="tw:g-4 tw:inner-before tw:relative tw:flex tw:min-h-[60px] tw:items-center tw:overflow-hidden tw:rounded-2xl tw:px-4 tw:group-hover:before:opacity-100"
    >
      <span class="tw:absolute tw:-left-[1px]">
        <svg width="8" height="22" viewBox="0 0 8 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2.5 0H0.5V4V18V22H2.5V16.25L7.63991 11.7526C8.09524 11.3542 8.09524 10.6458 7.63991 10.2474L2.5 5.75V0Z"
            fill="#2EF2FF"
          ></path>
        </svg>
      </span>
      <span class="tw:base-bold tw:relative tw:z-2 tw:text-p1"> Read the docs </span>
    </span>
    <span class="tw:glow-before tw:glow-after"></span>
  </button>
</div>
